    *{
      color: rgb(250, 247, 247);
      font-family: "Poppins", sans-serif; 
    }
    .fontblack{
      color: black;
    }
    #logo{
      width: 90px;
      height: auto;
      padding-left: 20px;
      transform: scale(1.7);
    }
    body {
      overflow-x: hidden;
  background-image: url("bg1.jpg") ;
  
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  margin: 0; 
  height: 100vh; 

}
.heading{
  font-size: 38px;
  font-weight: 500;
}
header{
  width: 99vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
#notify{
  width: 30vw;
  border: none;
  background-color: blueviolet;
  border-radius: 30px;
  height: 7vh;
  font-size: 20px;
}
  .success{
    display: none;
  }
section{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: white;
  height: 100vh;
  justify-content: center;

}
.card-info{
  color: black;
}
.mainheading{
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
}
.outerdiv{
  display: flex;
  gap: 20px;
  justify-content: center;
  
  flex-wrap: wrap;
}
.logoimg{
  width: 200px;
  height: 200px;
  padding: 10px;
}
ul{
  list-style: none;

}
article{
  padding: 20px;
  line-height: 7vh;
}
.form{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1rem;
  height: 80vh;
}
form{
  width: 65vw;
}
@media (min-width:366px) and (max-width:710px) {
    #logo{
        width: 60px;
        height: auto;
        padding-left: 20px;
        transform: scale(4);
      }
    .heading{
        font-size: 25px;
        font-weight: 400;
      }
      #notify{
        width: 70vw;
        border: none;
        background-color: blueviolet;
        border-radius: 30px;
        height: 5vh;
        font-size: 17px;
      }
      .mainheading{
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 1px;
      }
      .logoimg{
        width: 120px;
        height: 120px;
        padding: 5px;
      }
     
}
@media (max-width:365px) {
    #logo{
        width: 50px;
        height: auto;
        padding-left: 20px;
        transform: scale(4);
      }
    .heading{
        font-size: 20px;
        font-weight: 400;
      }
      #notify{
        width: 70vw;
        border: none;
        background-color: blueviolet;
        border-radius: 30px;
        height: 5vh;
        font-size: 16px;
      }
      .mainheading{
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 1px;
      }
      .logoimg{
        width: 100px;
        height: 100px;
        padding: 5px;
      }
      .card-text{
        font-size: 10px;
      }
     
}
